<div class="container">

<div class="row">
<div class="col-md-12">
<nav class="navbar navbar-inverse" role="navigation">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        </ul>
    </div>
</nav>
</div>
</div>


<%= render partial: 'add_routine' %>

<button type="button" class="btn" data-toggle="modal" data-target="#AddRoutine">Add Routine</button>



<div class="row">

	<div class="col-md-4">
		<h2>Daily Routines</h2>
		<%= render partial: 'routine_table', locals: {frequency: "daily"} %>

		<h2>Weekly Routines</h2>
		<%= render partial: 'routine_table', locals: {frequency: "weekly"} %>

		<h2>Monthly Routines</h2>
		<%= render partial: 'routine_table', locals: {frequency: "monthly"} %>

		</br></br></br></br>

		
	</div>
</div>
</div>